<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class = "imgDiv">
        <img src="../assets/images/rainy.png" alt="Weather Images">
    </div>
    <h3 class>{{Message.temp}}&#8451;</h3>
    <h6 class="card-title">{{Message.city}}</h6>
    <br>
    <div class = "row">
        <div class="col-sm-5">
            <p>Humid</p>
        </div>
        <div class="col-sm-7">
            <p>Description</p>
        </div>
    </div>
    <div class = "row">
        <div class="col-sm-5">
            <p class="card-text">{{Message.humidity}}</p>
        </div>
        <div class="col-sm-7">
            <p class="card-text">{{Message.description}}</p>
        </div>
    </div>
  </div>
</div>
