.row {
   display: flex;
   flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
  margin-left: 40px
}

.col-sm-3
{
    padding: 30px;
}

#diagonal-split-background
{
    background-color: #f5fafd;
    background-image: -webkit-linear-gradient(80deg, #f5fafd 50%, #85effd 50%);
}
